<section class="container">
  <div class="row">
    <h1 class="header__first">{{header}}</h1>
  </div>
  <div class="row">
    <h2 class="header__first text-success">{{calendar}}</h2>
    <p class="long__copy">{{long}}</p>
  </div>
</section>

 <div class="container py-5">
   <div class="media">
    <img src="/assets/img/vegan.jpg" class="mr-3 ali2gn-self-start d-flex justify-content-end" alt="meal" style="width:60%; height:auto;">
     <div class="media-body">
        <h5 class="mt-0">Eat real food and feel great</h5>
           {{paragraph}}
          <p class="no-pad"><a [routerLink]="['/blog-item']" style="color:green;">Read More</a></p>
     </div>
   </div>
 </div>

 <div class="container">
   <h5 class="display-4" appHighlight style="color: #fff;">Snack Nutrition Guide</h5>
   <div class="row">
     <div class="col-sm-9">
     <p>
      {{description}}
     </p>
     <p class="no-pad"><a [routerLink]="['/shopping-meal']" style="color:green;">Read More</a></p>
     </div>
     <div class="col-sm-3">
      <img src="/assets/img/vegan1.jpg" alt="meal" class="img-panel" style="width:60%; height:auto;">
     </div>
   </div>
 </div>


    <div class="row" style="margin-top:30px;">
     <div class="col-md-4 col-sm-12 threeblocks-light hide-640">
       <h5 class="meal__star">Vegetarian Meal</h5>
       <p class="long__page">
        {{vegan}}
       </p>
       <a href="#"><button id="request-catalogue-button" name="request-catalogue-button" class="blog-catalogo">Find out more</button></a>
     </div>
     <div class="col-md-4 col-sm-12 threeblocks-dark">
         <h5 class="meal__star">Sign up for our newsletter</h5>
         <div class="threeblocks-newsletter-form">
            <button id="register-newsletter-button" name="register-newsletter-button" class="threeblocks-newsletter-button" type="button"><a href="#" style="color:#fff;">Sign up</a></button>
         </div>
         <p class="long__page">
          {{diet}}
         </p>
     </div>
     <div class="col-md-4 col-sm-12 threeblocks-light hide-640">
         <h5 class="meal__star">Invite a friend</h5>
         <p class="long__page">
          {{invite}}
         </p>
         <div class="threeblocks-newsletter-form">
            <button id="register-newsletter-button" name="register-newsletter-button" class="threeblocks-newsletter-button" type="button">Invite</button>
         </div>
     </div>
    </div>

    <hr class="mb-3" style="margin-top:60px;">

    <div class="infoboxes hide-640">
       <div class="container">
        <div class="row">
          <div class="col-md-3 col-xs-6 infobox-content infobox-first">
            <h5 class="page__title">Dedication To Your Daily Tips</h5>
            <p class="long__page">
             Any Question? Contact Us!
            </p>
            <p class="long__page">
             Mon-fri 8am-12pm | 1pm-5pm
            </p>
            <a href="#" style="color:#000">healthymealtips@hotmail.com</a>
          </div>
          <div class="col-md-3 col-xs-6 infobox-content infobox-second">
            <h5 class="page__title">100% original nutritious meals</h5>
            <p class="long__page">
             {{nutrition}}
            </p>
          </div>
          <div class="col-md-3 col-xs-6 infobox-content">
            <h5 class="page__title">Vegan Meal Plan and Nutrition Guide</h5>
            <p class="long__page">
              {{meat}}
            </p>
          </div>
          <div class="col-md-3 col-xs-6 infobox-content">
            <h5 class="page__title">Weight Loss</h5>
            <p class="long__page">
              {{weight}}
            </p>
          </div>
        </div>
       </div>
    </div>

    <hr>

    <div class="policy-item parallax-bg1 hide-640" style="background: none;">
      <div class="row m0">
       <div class="col-md-8 col-md-offset-2 col-sm-12">
        <div class="pi-wrap text-center leggi-piu-box">
          <div class="leggi-piu-content leggi-piu-content--hidden">
             <h2 style="text-align: center;">Eat real food and feel great</h2>
             <p class="long__light">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, quisquam atque vitae repellat asperiores minus dolor labore aspernatur accusantium vel totam illo, eligendi excepturi libero eveniet accusamus laboriosam rem modi.
             </p>
             <p class="long__light">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, odit necessitatibus ipsum repudiandae laboriosam accusamus eum temporibus aliquam tenetur mollitia eaque blanditiis deserunt cumque sapiente natus ratione, beatae eius facilis.
             </p>
             <p class="long__light">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ex inventore unde, sunt quos sit et id nobis facere omnis quidem amet cumque enim consequatur. Officiis quos corporis ipsa aliquid.
             </p>
             <p class="long__light">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quis eligendi vero expedita nostrum iste ullam fuga! Iure iste minus, facere dicta non amet, nam beatae aliquam error excepturi quo?
             </p>
             <p class="long__light">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo, dolorum possimus! Inventore deserunt eaque quos rem odit voluptatum maiores molestias veniam omnis eum, iste repellendus dolor consectetur iure quisquam quam.
             </p>
          </div>
        </div>
       </div>
       <div class="col-md-8 col-md-offset-2 col-sm-12 center">
         <a class="leggi-piu-link">
           <span style="margin-left:300px;">Read more...</span>
         </a>
       </div>
      </div>
    </div>


