<div class="container mt-4">
  <h1 class="display-4 text-center">One-Pot Whole Wheat Veggies Pasta - <br> <small class="text-muted">Easy Healthy Dinner Recipe</small></h1>
   <img src="/assets/img/vegan2.jpg"  alt="vegan">
  <p class="lead">
    When spring starts cropping up at the market, it seems to come all at once - gaint loads of
    greens, bunches of fresh mint, endless rows of aspargus and boxes full of fresh green peas. One of
    the best ways to make use of this bountiful sprint produce is through a simple pasta.
  </p>
  <p class="lead">
    Related: We just released our new <a href="#" class="demi">4 Week Meal Plan</a>; If you need some guidance on making the switch to
    clean eating, this plan provides 3 meals & 3 snacks a day, using all easy, whole food recipes.
  </p>
  <p class="lead">
    With your pasta, make sure to showcase the beautiful colors and bright taste of fresh vegetables by doing as
    little to them as possible (which also help retain more nutrients). Here, asparagus, kale and peas (fresh or
    frozen will work fine), are simply balanced so they become tender, but do not overcook, which will cause them
    to lose their flavor.
  </p>
  <p class="lead">
    By mixing your nutrient-dense greens with whole wheat pasta, which incorpotates the brain, germ and
   endosperm of the wheat grain and thus packs in more fiber and health benefits, this recipe is much better for
   you than your average pasta dish.
  </p>
  <hr>
  <blockquote class="blockqoute text-muted p-3 text-right">
    Try these <a href="#" class="demi">chocolate brownies</a> for dessert (vegan and gluten free)
    <footer class="blockqoute-footer">
      Some people aren't crazy about the taste or texture of whole grain pasta, but these days there are many
      different kinds readily available in grocery stores, so play around with various brands until you find one you like.
      You can even try the whole grain pasta other than wheat, such as spelt quinoa, kamut or amaranth.
    </footer>
  </blockquote>
  <p class="lead">
    It's well worth opting for a whole grin pasta since increasing research shows how whole grains can help lower
   the risk of heart disease, diabeted, cancer and obesity. Plus, this is another way to get in your recommended
   daily whole grain intake (USDA recommends 3 servings per day) beyong the usual cereals and breads. Over
   time, many people end up preferring whole grain pasta, since it brings a more complex flavor and a slight
  nuttiness to the table. Also, since whole grain pasta has a low GI, it is suitable for diabetics.
  </p>
  <p class="lead">
    For an added savory kick, the pasta is finished with some quality Parmesan. You don't need a lot of this - just a
    sprinkling over the top. Of course, if you want to make it dairy free, you can ship the cheese. Bare in mind,
    however, if you are on a lactose-free diet, true Parmigiano Reggiano is lactos free (thanks to the aging
    process) - just be sure to check the packaging, which will say "lactos-free" if it is the real stuff.
  </p>
  <p class="lead">
    Serve the paste warm, cold or at room temperature. Leftovers will keep  for the next day's lunch or dinner,
    just be sure to seal it in an airtight container in the fridge. Give the pasta a squeeze of lemon juice or drizzle of
    oil before serving if it's been chilled and seems a bit dry.
  </p>
</div>

 <div class="container">
   <h1 class="display-4">Ingredients & Items</h1>

   <ul class="list-group">
     <li class="list-group-item list-group-item-action">1 package whole wheat spaghetti</li>
     <li class="list-group-item list-group-item-action">1 bunch asparagus, trimmed and cut into 2-inch pieces</li>
     <li class="list-group-item list-group-item-action">6 kale leaves, ribbed and roughly chopped (about 2 cups)</li>
     <li class="list-group-item list-group-item-action">1 cup frozen or fresh peas</li>
     <li class="list-group-item list-group-item-action">1 cup frozen or fresh peas</li>
     <li class="list-group-item list-group-item-action">1/4 cup olive oil</li>
     <li class="list-group-item list-group-item-action">1 olive garlic, minced</li>
     <li class="list-group-item list-group-item-action">Grated Parmesan, for serving</li>
     <li class="list-group-item list-group-item-action">Fresh mint leaves, to garnish</li>
     <li class="list-group-item list-group-item-action">Salt, to taste</li>
     <li class="list-group-item list-group-item-action">Pepper, to taste</li>
   </ul>
 </div>

 <div class="container mt-4">
   <p class="lead">
    Fill a large stockpot with water; bring to a boil. Drop in spaghetti and cook 5 mintues. Add asparagus, kale and
    peas and continue to cook another 5 minutes or until pasta is all dente. Reserve 1 cup of pasta water and set aside. In a colander in the sink, strain spaghetti and vegetables.
    Return pot to stove over medium heat. Add oil and garlic; saute until golden, about 2 minutes.
   </p>
   <p class="lead">
    Return strained spagehetti and vegetables are light coated and shimmery. Transfer to a serving
   platter or bowl and sprinkle with Parmesan and mint leaves. Season to taste with salt and pepper. Serve
   immediately or allow to cool, store in an airtight container and refrigerate up to 5 days.
   </p>
 </div>

 <div class="container">
    <a href="#" class="btn btn-ghost">
        SIGN IN TO REPLY
      </a>
     <p class="no-pad">
      <a href="#" class="value">Discussion Policy</a>
    </p>
 </div>
