<div class="container-fluid">
  <h1 class="text-center display-3 my-2"  appHighlight style="color: #fff;">{{placeholder}}</h1>
</div>

<div class="container mt-5">
  <div class="jumbotron jumbotron-fluid p-3" style="background-color: green;">
     <div class="container">
      <h1 class="text-center display-3 my-2" style="color: #fff; font-size: 20px;">Get Access  Now</h1>
       <h2 class="text-center display-3 my-2" style="color: #fff; font-size: 15px;">Let us know where to send your free recipes</h2>
       <hr class="my-4" style="color: #fff;">
       <p  style="color: #fff; font-size: 15px;">
        Veg is a celebration of delicious-tasting food that is brillantly easy to make and just so happens to be meat-free, showing home cooks how
        accessible and flavourful veg-packed meals can be.
       </p>
       <a class="btn btn-success btn-lg" href="#" role="button">Place an order here..</a>
     </div>
  </div>
</div>

 <div class="container">
    <h2 class="meal_structure">{{structure}}</h2>
    <p class="short-copy">
     Recipes created by nutritionist,
     <br class="hidden-xs">
      Michelin starred chefs and,
      <br class="hidden-xs">
       talented home cooks
    </p>
 </div>

 <section class="row">
   <div class="col-3">
     <img src="/assets/img/greek.jpg"  alt="" style="width:245; height: 245; margin-left: 20px;">
   </div>
   <div class="col-3">
     <h2 class="grid_align">{{formation}}</h2>
     <p class="line_grid">
       Eggplant puree, lemon,
       <br class="hidden-xs">
       garlic, sesame, paprika,
       <br class="hidden-xs">
       served with pita bread
     </p>
   </div>
   <div class="col-3">
     <img src="/assets/img/greek1.jpg" alt="" style="width:245; height: 245; margin-left: 20px;">
   </div>
   <div class="col-3">
     <h2 class="grid_align">
       Authentic
       <br class="hidden-xs">
       Greek salad
     </h2>
     <p class="line_grid">
       Tomatoes, cucumbers,
       <br class="hidden-xs">
       red onion, olive oil,
       <br class="hidden-xs">
       oregano, feta cheese,
       <br class="hidden-xs">
       black olives
     </p>
   </div>
 </section>

 <section class="row">
   <div class="col-3">
     <h2 class="grid_align">{{black}}</h2>
     <p class="line_grid">
      Chorizo, prawns,
      <br class="hidden-xs">
      smoked paprika, squid
      <br class="hidden-xs">
      ink, cherry tomatoes,
      <br class="hidden-xs">
       parsley
     </p>
   </div>
   <div class="col-3">
     <img src="/assets/img/greek2.jpg" alt="" style="width:245; height: 245; margin-left: 20px;">
   </div>
   <div class="col-3">
    <h2 class="grid_align">{{fries}}</h2>
    <p class="line_grid">
      Homemade lady
      <br class="hidden-xs">
      fingers, espresso,
      <br class="hidden-xs">
      mousse, espresso,
      <br class="hidden-xs">
      caramel
    </p>
   </div>
   <div class="col-3">
     <img src="/assets/img/greek3.jpg" alt="" style="width:245; height: 245; margin-left: 20px;">
   </div>
 </section>


 <div class="container">
   <img src="/assets/img/veggeis.jpg" alt="" style="width: 60%; height: 60%; margin-top: 40px; margin-left: 40px; line-height: 25px;">
   <p class="lead" style="font-size: 20px; color: #000; margin-top: 20px;">
    Finding delicious, wholesome vegetarian food is not always easy when you're
    <br class="hidden-xs">
    eating out at a resturant, but it's totally possibe when you make it at home.<a href="#" class="demi">Since <br class="hidden-xs">giving up meat six years ago</a>,
     I've relied on a myriad of sources - like cookbooks,
     <br class="hidden-xs">
     blogs, and our <a href="#" class="demi">own recipe page</a> - to help keep my meals interesting and
     <br class="hidden-xs">
     satisfying. Blogs in particular are great resources, as they're constantly updated
     <br class="hidden-xs">
     with new recipes. Not only do these new recipes keep things exciting, but they
     <br class="hidden-xs">
     also reflect what's happening <strong>right now,</strong> which helps me cook with the seasons.
    </p>
 </div>

 <div class="container">
   <img src="/assets/img/Rice.jpg" alt=""  style="width: 60%; height: 60%; margin-top: 40px; margin-left: 40px; line-height: 25px;">
   <h1 class="greens">Bryant Terry's Amazing Green Rice</h1>
   <p class="lead" style="font-size: 20px; color: #000; margin-top: 20px;">
    Hi all, I hope everyone is hanging in there during all this uncertainty. I've been trying
    <br class="hidden-xs">
    to stay off my phone and focus instead on doing things that are positive and
    <br class="hidden-xs">
    productive close to home. There's a lot of cooking and baking going on and I wanted
    <br class="hidden-xs">
    to share this gem of a recipe. It's an amazing green rice from <a href="#" class="demi">Bryant Terry</a> new book.
    <br class="hidden-xs">
    <em>Vegetable Kingdom.</em>If you've got some greens on hand, and some rice, you must,
    <br class="hidden-xs">
    must, must make it. It really is so good. A blender of green juice made from kale,
    <br class="hidden-xs">
    spinach, and a creamy stock is cooked with onions,garlic,green pepper, and long-
    <br class="hidden-xs">
    grain rice. It all cooks together into an intensity green and fragrant pot of fluffy
    <br class="hidden-xs">
    grains.
   </p>
 </div>

 <div class="container">
   <img src="/assets/img/Rice1.jpg" alt="" style="width: 60%; height: 60%; margin-top: 40px; margin-left: 40px; line-height: 25px;">
   <h1 class="greens">Give it a Try, Really!</h1>
   <p class="lead" style="font-size: 20px; color: #000; margin-top: 20px;">
    Let me just also say, I know some of you are shy about cooking rice. Even if you think
    <br class="hidden-xs">
    you're no good at cooking it, push those thoughts aside and give this recipe a try. It's
    <br class="hidden-xs">
    worth a go. Because even if you don't nail your rice perfectly, close enough is good
    <br class="hidden-xs">
    enough here,and you can make adjustment based on your experience the next time
    <br class="hidden-xs">
    around! Also, consider doubling the recipe while you're at it, it's a great way to up your
    <br class="hidden-xs">
    greens consumption. I'm going to list the ways I've been using the green rice for
    <br class="hidden-xs">
    leftovers below.
   </p>
 </div>

 <div class="container">
   <img src="/assets/img/Rice2.jpg" alt="" style="width: 60%; height: 60%; margin-top: 40px; margin-left: 40px; line-height: 25px;">
   <h1 class="greens">Green Rice Leftover Ideas</h1>
   <p class="lead" style="font-size: 20px; color: #000; margin-top: 20px;">
     There are so many(!) things you can do with leftover green rice. Here are a few to
     <br class="hidden-xs">
     consider.
   </p>
   <p class="lead" style="font-size: 20px; color: #000; margin-top: 20px;">
    <a href="#" class="demi">Fried rice</a> Cook a day-old rice in a skillet with extra garlic, a bit of chopped up omelette,
    <br class="hidden-xs">
    a bit of tofu,maybe add a handful of broccoli?
   </p>
   <p class="lead" style="font-size: 20px; color: #000; margin-top: 20px;">
    <a href="#" class="demi">Onigirl:</a> Shape the green rice into chubby triangles and pan-fry until crusted and
    <br class="hidden-xs">
    golden. You can even tuck a bit of tofu or a few edamame into the center for added
    <br class="hidden-xs">
    surprise!
   </p>
   <p class="lead" style="font-size: 20px; color: #000; margin-top: 20px;">
    <a href="#" class="demi">Green Burito with Guacamole:</a> Do a version of this <a href="#" class="demi">quinoa burrito,</a> but use this green
    <br class="hidden-xs">
    rice in place of the quinoa.
   </p>
   <p class="lead" style="font-size: 20px; color: #000; margin-top: 20px;">
    <a href="#" class="demi">Green Rice Soup:</a> Make a green version of this <a href="#" class="demi">rice soup</a> (I actually made this for
    <br class="hidden-xs">
    dinner last night) - basically thin the rice out to desired consistency with stock or
    <br class="hidden-xs">
    water,season,and go from there with toppings, etc.
   </p>
   <p class="lead" style="font-size: 20px; color: #000; margin-top: 20px;">
     <a href="#" class="demi">Green Rice Cake:</a> Whisk an egg or two into the rice (1 for each cup of rice),shape into
     <br class="hidden-xs">
     patties and pan-fry into rice cakes.
   </p>
   <p class="lead" style="font-size: 20px; color: #000; margin-top: 20px;">
    <a href="#" class="demi">Whole Grain Green Rice:</a> Do a version using brown basmati or brown jasmine rice. Up
    <br class="hidden-xs">
    the liquid,and cooking time a bit-based on the rice you're using, and package
    <br class="hidden-xs">
    instructions.
   </p>
 </div>

 <div class="container">
   <h1 class="related_recipes">Related Recipes</h1>
 </div>

 <div class="container py-5">
   <div class="media">
    <img src="/assets/img/relate.jpg" alt="relate" class="mr-3 ali2gn-self-start d-flex justify-content-end" style="width: 30%; height: auto;">
    <div class="media-body">
      <h5 class="mt-0" style="color: #000; font-weight: 400; font-size: 25px;">
        Chickpea & Rice Soup with
        <br class="hidden-xs">
        Garlic Chile Oil
      </h5>
      <p style="color: #000;  font-size: 20px;">
       A simple,chunky rice soup,studded with lots
       <br class="hidden-xs">
       of chickpeas,flecked with kale,and drizzled
       <br class="hidden-xs">
       with a vibrant garlic-chile oil. It has peanuts.
       <br class="hidden-xs">
       It has a dusting or turmeric.
      </p>
    </div>
   </div>
 </div>

 <div class="container py-5">
   <div class="media">
    <img src="/assets/img/relate1.jpg" alt="relate" class="mr-3 ali2gn-self-start d-flex justify-content-end" style="width: 30%; height: auto;">
    <div class="media-body">
       <h5 class="mt-0" style="color: #000; font-weight: 400; font-size: 25px;">
         A Simple Brown Rice Sushi
         <br class="hidden-xs">
         Bowl
       </h5>
       <p style="color: #000;  font-size: 20px;">
       The sushi bowl recipe is simply a de-
       <br class="hidden-xs">
       constructed sushi roll -brown rice, tofu,
       <br class="hidden-xs">
       avocado, toasted nori and green onions
       <br class="hidden-xs">
       served with a simple critus-soy dressing.
       <br class="hidden-xs">
       Simple and delicious
       </p>
    </div>
   </div>
 </div>

 <div class="container py-5">
  <div class="media">
   <img src="/assets/img/relate2.jpg" alt="relate" class="mr-2 ali2gn-self-start d-flex justify-content-end" style="width: 30%; height: auto;">
   <div class="media-body">
    <h5 class="mt-0" style="color: #000; font-weight: 400; font-size: 25px;">An Amazing Vegetarian Paella</h5>
    <p style="color: #000;  font-size: 20px;">
     A much-loved vegetarian paella recipe. And,
     <br class="hidden-xs">
     for this veg-centric,California-inspired take
     <br class="hidden-xs">
     on the Spanish classic,you don't need a
     <br class="hidden-xs">
     special plan.
    </p>
   </div>
  </div>
 </div>

 <div class="container py-5">
   <div class="media">
    <img src="/assets/img/relate3.jpg" alt="relate" class="mr-3 ali2gn-self-start d-flex justify-content-end" style="width: 30%; height: auto;">
    <div class="media-body">
     <h5 class="mt-0" style="color: #000; font-weight: 400; font-size: 25px;">
      Make Ahead Super Green
      <br class="hidden-xs">
      Vegan Quinoa Burritos
     </h5>
     <p style="color: #000;  font-size: 20px;">
       Vegan burritos packed with all the good stuff
       <br class="hidden-xs">
       - quinoa,mung beans,and lots of kale-
       <br class="hidden-xs">
       tossed with a creamy,serrano-spiked
       <br class="hidden-xs">
       avocado dressing.
     </p>
    </div>
   </div>
 </div>

 <app-comment-create (commentCreated)="onCommentAdded($event)"></app-comment-create>
 <app-comment-list></app-comment-list>





